# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
bower_components/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory
coverage/
